/*Reseteamos las cajas*/
*	{
	margin: 0px;
	padding: 0px;
 }

/* Para que los nuevos elementos sean tratamos como block */
header, section, footer, aside, nav, article, figure, figcaption,hgroup {
	display: block;
}

/*Centramos el elemento contenedor y alineamos normalmente dentro del contenedor*/
body {
	text-align: center;
}

#container {
	width: 100%;
  max-width: 960px;
	margin: 1.5% auto;
	text-align: left;
}

#cabecera {
  background: lightblue;
	border: 1px solid lightgray;
	padding: 2%;
  height: 60px;
}

#cabecera h1{
	padding-top: 15px;
}

#imagenbanner{
  max-width: 200px;
  max-height: 50px;
  width: 20%;
  height: 80%;
  float: left;
}

/* barra de navegación */
#menu {
	background: #CCCCCC;
}

li a{
  text-decoration: none;
  color: black;
}

#menu li {
	display: inline-block;
	list-style: none;
	padding: 0.5%;
	font: bold 14px verdana, sans-serif;
}

li:hover > ul{
  display:block;
}

li ul {
  display: none;
  border: 0;
  margin: 0;
	position: absolute;
}

ul.sublista{
	display: none;
	border: 0;
	margin: 0;
	width: 180px;
	list-style: disc;
	list-style-position: inside;
	color: green;
}
#menu li:hover > ul {
	background: #CCCCCC;
	top: 22%;
	left: 14.4%;
	width: 22%;
}

li{
	text-indent: 8px;
}

li:hover{
	background: gray;
}

#menu ul li ul li ul {
	display: none;
  border: 0;
  margin: 0;
	position: absolute;
}


/*Aclaración inline-block: se comporta como un in-line
pero el conjunto de inlines's ocupan todo el ancho como un block.
Equivale a un float:left pero ahorramos el clear en el sig elemento.
Más info: http://www.w3schools.com/css/css_inline-block.asp
*/


/* dos columnas para los bloques de section y aside */
#seccion {
	float: left;
	width: 69%;
	margin: 2%;
	}

  #columna li{
    list-style: none;
  }

#columna {
	float: left;
	width: 23%;
	margin: 2% 0px;
	padding: 2%;
	background: #CCCCCC;
	}

/* Pie a una columna */
#pie {
	clear: both;
	text-align: center;
	padding: 2%;
	border-top: 2px solid #999999;
	}


/* ultimos retoques */
img{
	width: 21%;
  max-width: 200px;
	margin: 0.5%;
}

article {
	border: 1px solid #999999;
	padding: 2%;
	margin-bottom: 1.5%;
	background: linen;
}

article footer {
	text-align: right;
	color: steelblue;
	font-weight: bold;
}

article header{
	margin-top: 1%;
	margin-bottom: 1%;
}

article hgroup {
	margin-bottom: 1%;
}

time {
	color: #999999;
}

/*Estilos de letra*/
#cabecera h1{
	font: bold 1.5em verdana, sans-serif;
}

article h1{
	font: bold 1.25em verdana, sans-serif;
}

h2 {
	font: bold 0.8em verdana, sans-serif;
}

figcaption {
	font: italic 0.7em verdana, sans-serif;
}
